body  {
  background-color: #000;
}

#overlay{
  width:100vw;
  height:100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  opacity: 0;
}

#EmberYoutube-player{
  width: 100vw;
  height: 100vh;
  position:fixed;
  bottom:0;
  left: 0;
  z-index: 0;
}

#next{
  background: url('/img/arrow.png') center no-repeat, url('/img/dot2.png');
  background-color:rgba(38, 38, 38, 0);
  width:150px;
  height:100vh;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  opacity: 0;
}

#next:hover{
  opacity: 1;
  background-color: rgba(38, 38, 38, 0.6);
  cursor: pointer;
  animation-name: next;
  animation-duration: .5s;
}

@keyframes next {
  from {background-color: rgba(38, 38, 38, 0); opacity: 0; right: -50px; }
  to {background-color: rgba(38, 38, 38, 0.6); opacity: 1; right: 0px;}
}

#previous{
  background: url('/img/dot2.png');
  background-color: rgba(38, 38, 38, 0);
  width:150px;
  height:100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  opacity: 0;
  text-align:center;
}

#previous:hover{
  background-color: rgba(38, 38, 38, 0.6);
  opacity: 1;
  cursor: pointer;
  animation-name: previous;
  animation-duration: .5s;
}

@keyframes previous {
    from {background-color: rgba(38, 38, 38, 0); opacity: 0; left: -50px; }
    to {background-color: rgba(38, 38, 38, 0.6); opacity: 1; left: 0px;}
}

.thumbnail {
  margin-bottom:6px;
  z-index: 3;
}

.thumbnail:hover{
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 0.2s;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}

#fade-out-title {
  position:fixed;
  top:0;
  width:100vw;
  height:100vh;
  text-align: center;
  vertical-align: middle;
  line-height: 80vh;
  background: rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 0);
  font-size: 10vh;
  animation-name:fade-title;
  animation-duration: 2s;
}

#fade-out-logo {
  position:fixed;
  width:100vw;
  text-align: center;
  bottom: 0;
}

#page-logo{
  animation-name:fade-logo;
  animation-duration: 3s;
  opacity: 0;
}

@keyframes fade-title {
  from {background: rgba(0, 0, 0, 1); color: rgba(255, 255, 255, 1); font-size: 10vh; line-height: 80vh;}
  to {background: rgba(0, 0, 0, 0); color: rgba(255, 255, 255, 0); font-size: 20vh; line-height: 20vh;}
}

@keyframes fade-logo {
  from {opacity: 1; height: 10vh;}
  to {opacity: 0; height: 50vh;}
}


#ytplayer{
  z-index: 5;
}

.word{
  z-index:7;
  position:fixed;
  top:0;
  left:40vw;
  width:200px;
  height: 100px;
  color:#ffffff;
  font-family: 'Inknut Antiqua', serif;
  font-size:40px;
  opacity:0;
  padding-top:0;
}

.word:hover{
  cursor: pointer;
  opacity: 0;
  animation-name: word-show;
  animation-duration: 2s;
}

@keyframes word-show {
  from {opacity: 0;}
  to {opacity: .3;}
}
