body  {
  background-color: #000;
}

#overlay{
  width:100vw;
  height:100vh;
  position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  opacity: 0;
}

#next{
  background: url('/img/arrow.png') center no-repeat, url('/img/dot2.png');
  background-color:rgba(38, 38, 38, 0);
  width:150px;
  height:100vh;
  position: fixed;
  right: 0px;
  top: 0px;
  z-index: 2;
  opacity: 0;
}

#next:hover{
  opacity: 1;
  background-color: rgba(38, 38, 38, 0.6);
  cursor: pointer;
  animation-name: next;
  animation-duration: .5s;
}

@keyframes next {
  from {background-color: rgba(38, 38, 38, 0); opacity: 0; right: -50px; }
  to {background-color: rgba(38, 38, 38, 0.6); opacity: 1; right: 0px;}
}

#previous{
  background: url('/img/dot2.png');
  background-color: rgba(38, 38, 38, 0);
  width:150px;
  height:100vh;
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 2;
  opacity: 0;
  text-align:center;
}

#previous:hover{
  background-color: rgba(38, 38, 38, 0.6);
  opacity: 1;
  cursor: pointer;
  animation-name: previous;
  animation-duration: .5s;
}

@keyframes previous {
    from {background-color: rgba(38, 38, 38, 0); opacity: 0; left: -50px; }
    to {background-color: rgba(38, 38, 38, 0.6); opacity: 1; left: 0px;}
}

.thumbnail {
  margin-bottom:6px;
  z-index: 3;
}

.video{
  position:fixed;
  bottom:0;
}
