<div class="container">
  <div class="row row1">
  </div>
  <div class="row">
    <div class="col-sm-2">
    </div>
      <div class="col-sm-8">

          <div class="row">
          </div>

            {{outlet}}
      </div>
    <div class="col-sm-2"></div>
  </div>
</div>
