<div class="video" style="width: 100vw; height:100vh">
  <iframe allowfullscreen="allowfullscreen" id="ytplayer" type="text/html" width="100%" height="100%"
    {{bind-attr src=model.fullUrl}}
    frameborder="0"/>
</div>

<div class="next">
</div>
